[MESSAGES CONTROL]
enable=useless-suppression

disable=
    line-too-long,
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-positional-arguments,
