blake3
cmake_file_api @ git+https://github.com/madebr/python-cmake-file-api@v0.0.8.3
ijson
pandas
regex
rich
semantic_version
system-helpers @ git+https://github.com/uliegecsm/system-helpers@0.0.3
typeguard
