backports.strenum
blake3

# Version 0.0.8.3.
cmake_file_api @ git+https://github.com/madebr/python-cmake-file-api@fc02aa8522b7f793643412124ee938f8d0dc7ef9

ijson
pandas
regex
rich
semantic_version

# Version 0.0.3.
system-helpers @ git+https://github.com/uliegecsm/system-helpers@f81d70b200db8f486102108a43349dfa89f523e4

typeguard
typing-extensions>=4.4.0
