attrs
backports.strenum
blake3

# Version 0.0.8.3.
cmake_file_api @ git+https://github.com/madebr/python-cmake-file-api@fc02aa8522b7f793643412124ee938f8d0dc7ef9

ijson
mypy_extensions
pandas
pyelftools
regex
rich
semantic_version
system-helpers>=0.0.3
typing-extensions>=4.4.0
