name: Build and test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:
    schedule:
        # At 06:00 on Sunday.
        - cron:  '0 6 * * 6'

env:
    REGISTRY: ghcr.io
    CI_IMAGE_BASE: cuda:12.8.1-devel-ubuntu24.04

jobs:

    build-image:
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: docker:latest
        permissions:
            contents: read
            packages: write
            pull-requests: read
        steps:
            - uses: actions/checkout@v5
              with:
                  set-safe-directory: true

            - run: |
                echo "CI_IMAGE=${{ env.REGISTRY }}/${{ github.repository }}/${{ env.CI_IMAGE_BASE }}" >> $GITHUB_ENV

            - id: changed-files
              uses: tj-actions/changed-files@v45
              with:
                  files: docker/dockerfile.builder

            - uses: docker/login-action@v3
              if  : steps.changed-files.outputs.any_changed == 'true'
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - uses: docker/setup-buildx-action@v3
              if  : steps.changed-files.outputs.any_changed == 'true'

            - uses: docker/build-push-action@v6.13.0
              if  : steps.changed-files.outputs.any_changed == 'true'
              with:
                  context: .
                  platforms: linux/amd64
                  push: ${{ github.ref == 'refs/heads/main' }}
                  file: docker/dockerfile
                  tags: ${{ env.CI_IMAGE }}
                  cache-from: type=registry,ref=${{ env.CI_IMAGE }}
                  cache-to: type=inline
                  build-args: |
                      BASE_IMAGE=nvidia/${{ env.CI_IMAGE_BASE }}
                  labels: "org.opencontainers.image.source=${{ github.repositoryUrl }}"
