name: Build and test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:
    schedule:
        # At 06:00 on Sunday.
        - cron:  '0 6 * * 6'

env:
    REGISTRY: ghcr.io
    CI_IMAGE_BASE: cuda:12.8.1-devel-ubuntu24.04

jobs:

    set-vars:
        runs-on: [self-hosted, linux, docker, amd64]
        outputs:
            CI_IMAGE  : ${{ steps.common.outputs.CI_IMAGE }}
        steps:
            - name: Export common variables.
              id  : common
              run : |
                  echo "CI_IMAGE=${{ env.REGISTRY }}/${{ github.repository }}/${{ env.CI_IMAGE_BASE }}" >> $GITHUB_OUTPUT

    build-image:
        needs: [set-vars]
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: docker:latest
        permissions:
            contents: read
            packages: write
            pull-requests: read
        steps:
            - uses: actions/checkout@v5
              with:
                  set-safe-directory: true

            - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

            - id: changed-files
              uses: tj-actions/changed-files@v45
              with:
                  files: docker/dockerfile

            - uses: docker/login-action@v3
              if  : steps.changed-files.outputs.any_changed == 'true'
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - uses: docker/setup-buildx-action@v3
              if  : steps.changed-files.outputs.any_changed == 'true'

            - uses: docker/build-push-action@v6.13.0
              if  : steps.changed-files.outputs.any_changed == 'true'
              with:
                  context: .
                  platforms: linux/amd64
                  push: ${{ github.ref == 'refs/heads/main' }}
                  file: docker/dockerfile
                  tags: ${{ needs.set-vars.outputs.CI_IMAGE }}
                  cache-from: type=registry,ref=${{ needs.set-vars.outputs.CI_IMAGE }}
                  cache-to: type=inline
                  build-args: |
                      BASE_IMAGE=nvidia/${{ env.CI_IMAGE_BASE }}
                  labels: "org.opencontainers.image.source=${{ github.repositoryUrl }}"

    test:
        needs: [set-vars, build-image]
        runs-on: [self-hosted, linux, docker, amd64, blackwell120, gpu:0]
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}
        steps:
            - uses: actions/checkout@v5

            - run : python -m pytest tests -s --log-cli-level=info

    install-as-package-and-test:
        needs: [set-vars, build-image]
        runs-on: [self-hosted, linux, docker, amd64, blackwell120, gpu:0]
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}
        steps:
            # Since it is still a private repository, let's avoid authentication burden by
            # installing from the files directly.
            - uses: actions/checkout@v5
              with:
                  path: install-from
            - run : |
                pip install install-from/

            - run: |
                python -c "import cuda_helpers.tools.device_properties as u; print(u.Cuda().get_device_name(device = 0))"

    deploy:
        needs: [set-vars, test, install-as-package-and-test]
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}
        steps:
            - uses: actions/checkout@v5
            - run: |
                python -m pip install -r requirements/requirements.txt
                python -m pip install build
                python -m build
                ls
            - if: github.ref == 'refs/heads/main'
              run: |
                mc alias set MC_HOST_COSTMO ${{ vars.MC_HOST_COSTMO_URL }} ${{ secrets.MC_HOST_COSTMO_USER }} ${{ secrets.MC_HOST_COSTMO_PASSWORD }}
                mc mb --ignore-existing MC_HOST_COSTMO/cuda-helpers
                mc cp dist/cuda_helpers-0.0.1-py3-none-any.whl MC_HOST_COSTMO/cuda-helpers/
