name: Build and test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:
        inputs:
            build-images:
                description: 'Force re-build of all Docker images.'
                required: false
                type: bool
                default: false
    schedule:
        # At 06:00 on Sunday.
        - cron:  '0 6 * * 6'

jobs:

    setup-job-matrix-image:
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: docker:latest
        steps:
            - uses: actions/checkout@v5
              with:
                  set-safe-directory: true

            - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

            - id: extract-mounts
              run: sh .github/workflows/extract-mounts.sh docker/dockerfile.setup-job-matrix

            - id: changed-files
              uses: tj-actions/changed-files@v47
              with:
                  files: |
                      docker/**
                      .github/workflows/**
                      ${{ steps.extract-mounts.outputs.paths }}

            - uses: docker/login-action@v3
              if  : steps.changed-files.outputs.any_changed == 'true' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images'])
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - uses: docker/setup-buildx-action@v3
              if  : steps.changed-files.outputs.any_changed == 'true' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images'])

            - uses: docker/build-push-action@v6.18.0
              if  : steps.changed-files.outputs.any_changed == 'true' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images'])
              with:
                  context: .
                  platforms: linux/amd64
                  push: ${{ github.ref == 'refs/heads/main' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images']) }}
                  file: docker/dockerfile.setup-job-matrix
                  tags: ghcr.io/${{ github.repository }}/setup-job-matrix:latest
                  cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/setup-job-matrix:latest
                  cache-to: type=inline
                  labels: "org.opencontainers.image.source=${{ github.repositoryUrl }}"

    setup-job-matrix:
        runs-on: [self-hosted, linux, docker, amd64]
        needs: [setup-job-matrix-image]
        container:
            image: ghcr.io/${{ github.repository }}/setup-job-matrix:latest
        outputs:
            deploy_image: ${{ steps.strategy.outputs.deploy_image }}
            doc_image: ${{ steps.strategy.outputs.doc_image }}
            matrix_images: ${{ steps.strategy.outputs.matrix_images }}
            matrix_tests: ${{ steps.strategy.outputs.matrix_tests }}
        steps:
            - uses: actions/checkout@v5
            - id  : strategy
              run : |
                  PYTHONPATH=$PWD/python python .github/workflows/strategy.py \
                      --registry=ghcr.io \
                      --repository=${{ github.repository }} >> $GITHUB_OUTPUT

    build-image:
        needs: [setup-job-matrix]
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: docker:latest
        permissions:
            contents: read
            packages: write
            pull-requests: read
        strategy:
            fail-fast: false
            matrix:
                include: ${{ fromJSON(needs.setup-job-matrix.outputs.matrix_images) }}
        env: ${{ matrix.environment }}
        steps:
            - uses: actions/checkout@v5
              with:
                  set-safe-directory: true

            - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

            - id: extract-mounts
              run: sh .github/workflows/extract-mounts.sh docker/dockerfile docker/dockerfile.kokkos

            - id: changed-files
              uses: tj-actions/changed-files@v47
              with:
                  files: |
                      docker/**
                      .github/workflows/**
                      ${{ steps.extract-mounts.outputs.paths }}

            - uses: docker/login-action@v3
              if  : steps.changed-files.outputs.any_changed == 'true' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images'])
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - uses: docker/setup-qemu-action@v3
              if  : steps.changed-files.outputs.any_changed == 'true' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images'])

            - uses: docker/setup-buildx-action@v3
              if  : steps.changed-files.outputs.any_changed == 'true' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images'])

            - uses: docker/build-push-action@v6.18.0
              if  : steps.changed-files.outputs.any_changed == 'true' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images'])
              with:
                  context: .
                  platforms: ${{ matrix.build_platforms }}
                  push: ${{ github.ref == 'refs/heads/main' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images']) }}
                  file: docker/dockerfile
                  tags: ${{ matrix.image }}
                  cache-from: type=registry,ref=${{ matrix.image }}
                  cache-to: type=inline
                  build-args: |
                      BASE_IMAGE=${{ matrix.base_image }}
                      CXX_COMPILER_ID=${{ matrix.compilers.CXX.ID }}
                      CXX_COMPILER_VERSION=${{ matrix.compilers.CXX.version }}
                      CXX_COMPILER=${{ matrix.compilers.CXX.path }}
                      DOXYGEN_VERSION=1_14_0
                      GOOGLEBENCHMARK_VERSION=1.9.4
                  labels: "org.opencontainers.image.source=${{ github.repositoryUrl }}"

            - uses: docker/build-push-action@v6.18.0
              if  : steps.changed-files.outputs.any_changed == 'true' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images'])
              with:
                  context: .
                  platforms: ${{ matrix.build_platforms }}
                  push: ${{ github.ref == 'refs/heads/main' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images']) }}
                  file: docker/dockerfile.kokkos
                  tags: ${{ matrix.kokkos }}
                  cache-from: type=registry,ref=${{ matrix.kokkos }}
                  cache-to: type=inline
                  build-args: |
                      BASE_IMAGE=${{ matrix.image }}
                      KOKKOS_ARCH=${{ matrix.nvidia_arch }}
                      KOKKOS_CXX_COMPILER=${{ matrix.compilers.CXX.path }}
                      KOKKOS_CUDA_COMPILER=${{ matrix.compilers.CUDA.path }}
                      KOKKOS_INSTALL_SUFFIX=${{ matrix.cmake_preset }}-${{ matrix.nvidia_arch }}
                      KOKKOS_SHA=4.7.01
                      KOKKOS_TOOLS_INSTALL_SUFFIX=${{ matrix.cmake_preset }}
                      KOKKOS_TOOLS_SHA=35c6aebf1499687f41d24d7f5dc0dbff57567070
                  labels: "org.opencontainers.image.source=${{ github.repositoryUrl }}"

    tests:
        needs: [setup-job-matrix, build-image]
        strategy:
            fail-fast: false
            matrix:
                include: ${{ fromJSON(needs.setup-job-matrix.outputs.matrix_tests) }}
        env: ${{ matrix.environment }}
        runs-on: ${{ matrix.runs-on }}
        container:
            image: ${{ matrix.image }}
        steps:
            - uses: actions/checkout@v5

            - run: |
                cmake -S . --preset=${{ matrix.cmake_preset }} \
                    -DCMAKE_CUDA_ARCHITECTURES=${{ matrix.cmake_cuda_architectures }} \
                    -DReProspect_ENABLE_DOCS=OFF \
                    -DReProspect_ENABLE_EXAMPLES=OFF \
                    -DReProspect_ENABLE_TESTS=ON

            - run: cmake --build --preset=${{ matrix.cmake_preset }}

            - run: ctest --preset=${{ matrix.cmake_preset }}

            - uses: actions/upload-artifact@v4
              with:
                  name: tests-${{ matrix.cmake_preset }}-${{ matrix.nvidia_arch }}
                  path: artifacts
                  retention-days: 1

    examples:
        needs: [setup-job-matrix, build-image]
        strategy:
            fail-fast: false
            matrix:
                include: ${{ fromJSON(needs.setup-job-matrix.outputs.matrix_tests) }}
        env: ${{ matrix.environment }}
        runs-on: ${{ matrix.runs-on }}
        container:
            image: ${{ matrix.kokkos }}
        steps:
            - uses: actions/checkout@v5

            - run: |
                cmake -S . --preset=${{ matrix.cmake_preset }} \
                    -DCMAKE_CUDA_ARCHITECTURES=${{ matrix.cmake_cuda_architectures }} \
                    -DReProspect_ENABLE_DOCS=OFF \
                    -DReProspect_ENABLE_EXAMPLES=ON \
                    -DReProspect_ENABLE_TESTS=OFF

            - run: cmake --build --preset=${{ matrix.cmake_preset }}

            - run: ctest --preset=${{ matrix.cmake_preset }}

    install-as-package-and-test:
        needs: [setup-job-matrix, build-image]
        strategy:
            fail-fast: false
            matrix:
                include: ${{ fromJSON(needs.setup-job-matrix.outputs.matrix_tests) }}
        env: ${{ matrix.environment }}
        runs-on: ${{ matrix.runs-on }}
        container:
            image: ${{ matrix.image }}
        steps:
            # Since it is still a private repository, let's avoid authentication burden by
            # installing from the files directly.
            - uses: actions/checkout@v5
              with:
                  path: install-from
            - run : |
                pip install install-from/python
                rm -rf install-from/

            - run: |
                python -c "import reprospect.tools.device_properties as u; print(u.Cuda().get_device_name(device = 0))"

            - run: |
                reprospect-install-nsight-systems --help

    documentation:
        needs: [setup-job-matrix, tests]
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: ${{ needs.setup-job-matrix.outputs.doc_image }}
        steps:
            - uses: actions/checkout@v5

            - run: |
                cmake -S . --preset=gnu-nvidia \
                    -DReProspect_ENABLE_DOCS=ON \
                    -DReProspect_ENABLE_EXAMPLES=ON \
                    -DReProspect_ENABLE_TESTS=ON
                cmake --build . --preset=gnu-nvidia --target=docs

            - uses: actions/download-artifact@v5
              with:
                  name: tests-gnu-nvidia-BLACKWELL120
                  path: artifacts

            - run: |
                cd docs
                make html

    deploy:
        needs: [setup-job-matrix, build-image, tests, examples, install-as-package-and-test, documentation]
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: ${{ needs.setup-job-matrix.outputs.deploy_image }}
        steps:
            - uses: actions/checkout@v5
            - run: |
                python -m build python/
                ls
            - run: |
                VERSION=$(python3 -c "import pathlib, re; version = re.search(r'\d+.\d+.\d+', pathlib.Path('python/reprospect/__init__.py').read_text()); print(version.group());")
                echo "Version of the project is ${VERSION}."
                echo "VERSION=${VERSION}" >> $GITHUB_ENV
            - if: github.ref == 'refs/heads/main'
              run: |
                mc alias set MC_HOST_COSTMO ${{ vars.MC_HOST_COSTMO_URL }} ${{ secrets.MC_HOST_COSTMO_USER }} ${{ secrets.MC_HOST_COSTMO_PASSWORD }}
                mc mb --ignore-existing MC_HOST_COSTMO/reprospect
                mc cp python/dist/reprospect-${VERSION}-py3-none-any.whl MC_HOST_COSTMO/reprospect/
