name: Build and test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:
        inputs:
            build-images:
                description: 'Force re-build of all Docker images.'
                required: false
                type: bool
                default: false
    schedule:
        # At 06:00 on Sunday.
        - cron:  '0 6 * * 6'

jobs:

    setup-skips:
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: alpine/git:2.49.1@sha256:26f8647ec43523c2511b99064cb45b48f4535bce956b9377a94b289fb021e819
        outputs:
            build-images: ${{ steps.build-images.outputs.build-images }}
            setup-job-matrix-image: ${{ steps.setup-job-matrix-image.outputs.setup-job-matrix-image }}
        steps:
            - uses: actions/checkout@v5
              with:
                  set-safe-directory: true

            - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

            # Images generally need a rebuild either because of file changes or it was requested during the workflow dispatch.
            # Otherwise, the jobs can be skipped, thus speeding up the workflow.

            # For the 'setup-job-matrix-image' job.
            - id: setup-job-matrix-image-extract-mounts
              run: sh .github/workflows/extract-mounts.sh docker/dockerfile.setup-job-matrix

            - id: setup-job-matrix-image-changed-files
              uses: tj-actions/changed-files@v47
              with:
                  files: |
                      docker/**
                      .github/workflows/**
                      ${{ steps.setup-job-matrix-image-extract-mounts.outputs.paths }}

            - id: setup-job-matrix-image
              env:
                  ANY_CHANGED: ${{ steps.setup-job-matrix-image-changed-files.outputs.any_changed == 'true' }}
                  FORCE: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs['build-images'] }}
              run: |
                  if [ "$ANY_CHANGED" = "true" ] || [ "$FORCE" = "true" ]; then
                      SETUP_JOB_MATRIX_IMAGE=true
                  else
                      SETUP_JOB_MATRIX_IMAGE=false
                  fi
                  echo "SETUP_JOB_MATRIX_IMAGE set to ${SETUP_JOB_MATRIX_IMAGE} because:"
                  echo "    - any changed: ${ANY_CHANGED}"
                  echo "    - force      : ${FORCE}"
                  echo "setup-job-matrix-image=${SETUP_JOB_MATRIX_IMAGE}" >> $GITHUB_OUTPUT

            # For the 'build-images' job.
            - id: build-images-extract-mounts
              run: sh .github/workflows/extract-mounts.sh docker/dockerfile docker/dockerfile.kokkos

            - id: build-images-changed-files
              uses: tj-actions/changed-files@v47
              with:
                  files: |
                      docker/**
                      .github/workflows/**
                      ${{ steps.build-images-extract-mounts.outputs.paths }}

            - id: build-images
              env:
                  ANY_CHANGED: ${{ steps.build-images-changed-files.outputs.any_changed == 'true' }}
                  FORCE: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs['build-images'] }}
              run: |
                  if [ "$ANY_CHANGED" = "true" ] || [ "$FORCE" = "true" ]; then
                      BUILD_IMAGES=true
                  else
                      BUILD_IMAGES=false
                  fi
                  echo "BUILD_IMAGES set to ${BUILD_IMAGES} because:"
                  echo "    - any changed: ${ANY_CHANGED}"
                  echo "    - force      : ${FORCE}"
                  echo "build-images=${BUILD_IMAGES}" >> $GITHUB_OUTPUT

    setup-job-matrix-image:
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: docker:latest
        needs: [setup-skips]
        if: ${{ needs.setup-skips.outputs.setup-job-matrix-image == 'true' }}
        steps:
            - uses: actions/checkout@v5

            - uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - uses: docker/setup-buildx-action@v3

            - uses: docker/build-push-action@v6.18.0
              with:
                  context: .
                  platforms: linux/amd64
                  push: ${{ github.ref == 'refs/heads/main' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images']) }}
                  file: docker/dockerfile.setup-job-matrix
                  tags: ghcr.io/${{ github.repository }}/setup-job-matrix:latest
                  cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/setup-job-matrix:latest
                  cache-to: type=inline
                  labels: "org.opencontainers.image.source=${{ github.repositoryUrl }}"

    setup-job-matrix:
        runs-on: [self-hosted, linux, docker, amd64]
        needs: [setup-job-matrix-image]
        container:
            image: ghcr.io/${{ github.repository }}/setup-job-matrix:latest
        outputs:
            deploy_image: ${{ steps.strategy.outputs.deploy_image }}
            doc_image: ${{ steps.strategy.outputs.doc_image }}
            matrix_images: ${{ steps.strategy.outputs.matrix_images }}
            matrix_tests: ${{ steps.strategy.outputs.matrix_tests }}
        if: ${{ ! failure() && ! cancelled() }}
        steps:
            - uses: actions/checkout@v5

            - id  : strategy
              run : |
                  PYTHONPATH=$PWD/python python .github/workflows/strategy.py \
                      --registry=ghcr.io \
                      --repository=${{ github.repository }} >> $GITHUB_OUTPUT

    build-images-image:
        needs: [setup-skips]
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: docker:latest
        permissions:
            contents: read
            packages: write
        if: ${{ needs.setup-skips.outputs.build-images == 'true' }}
        steps:
            - uses: actions/checkout@v5

            - uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - uses: docker/setup-qemu-action@v3

            - uses: docker/setup-buildx-action@v3

            - uses: docker/build-push-action@v6.18.0
              with:
                  context: null
                  platforms: linux/amd64,linux/arm64
                  push: ${{ github.ref == 'refs/heads/main' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images']) }}
                  file: docker/dockerfile.build-images
                  tags: ghcr.io/${{ github.repository }}/build-images:latest
                  cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/build-images:latest
                  cache-to: type=inline
                  labels: "org.opencontainers.image.source=${{ github.repositoryUrl }}"

    build-images:
        needs: [setup-job-matrix, build-images-image, setup-skips]
        runs-on: ${{ matrix.build-images.runs-on }}
        container:
            image: ghcr.io/${{ github.repository }}/build-images:latest
        services:
            docker:
                image: docker:dind
        permissions:
            contents: read
            packages: write
        strategy:
            fail-fast: false
            matrix:
                include: ${{ fromJSON(needs.setup-job-matrix.outputs.matrix_images) }}
        env: ${{ matrix.environment }}
        if: ${{ ! failure() && ! cancelled() && needs.setup-skips.outputs.build-images == 'true' }}
        steps:
            - uses: actions/checkout@v5

            - uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - uses: docker/setup-buildx-action@v3

            - uses: docker/build-push-action@v6.18.0
              with:
                  context: .
                  platforms: ${{ matrix.platform }}
                  push: ${{ github.ref == 'refs/heads/main' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images']) }}
                  file: docker/dockerfile
                  tags: ${{ matrix.image }}
                  cache-from: type=registry,ref=${{ matrix.image }}
                  cache-to: type=inline
                  build-args: |
                      BASE_IMAGE=${{ matrix.base_image }}
                      CXX_COMPILER_ID=${{ matrix.compilers.CXX.ID }}
                      CXX_COMPILER_VERSION=${{ matrix.compilers.CXX.version }}
                      CXX_COMPILER=${{ matrix.compilers.CXX.path }}
                      DOXYGEN_VERSION=1_14_0
                      GOOGLEBENCHMARK_VERSION=1.9.4
                      PYTHON_VERSION=${{ matrix.ubuntu_version == '24.04' && '3.12' || '3.10' }}
                  labels: "org.opencontainers.image.source=${{ github.repositoryUrl }}"

            - uses: docker/build-push-action@v6.18.0
              with:
                  context: .
                  platforms: ${{ matrix.platform }}
                  push: ${{ github.ref == 'refs/heads/main' || (github.event_name == 'workflow_dispatch' && github.event.inputs['build-images']) }}
                  file: docker/dockerfile.kokkos
                  tags: ${{ matrix.kokkos }}
                  cache-from: type=registry,ref=${{ matrix.kokkos }}
                  cache-to: type=inline
                  build-args: |
                      BASE_IMAGE=${{ matrix.image }}
                      KOKKOS_ARCH=${{ matrix.nvidia_arch }}
                      KOKKOS_CXX_COMPILER=${{ matrix.compilers.CXX.path }}
                      KOKKOS_CUDA_COMPILER=${{ matrix.compilers.CUDA.path }}
                      KOKKOS_INSTALL_SUFFIX=${{ matrix.cmake_preset }}-${{ matrix.nvidia_arch }}
                      KOKKOS_SHA=4.7.01
                      KOKKOS_TOOLS_INSTALL_SUFFIX=${{ matrix.cmake_preset }}
                      KOKKOS_TOOLS_SHA=35c6aebf1499687f41d24d7f5dc0dbff57567070
                  labels: "org.opencontainers.image.source=${{ github.repositoryUrl }}"

    tests:
        needs: [setup-job-matrix, build-images]
        strategy:
            fail-fast: false
            matrix:
                include: ${{ fromJSON(needs.setup-job-matrix.outputs.matrix_tests) }}
        env: ${{ matrix.environment }}
        runs-on: ${{ matrix.tests.runs-on }}
        container: ${{ matrix.tests.container }}
        if: ${{ ! failure() && ! cancelled() }}
        steps:
            - uses: actions/checkout@v5

            - run: |
                cmake -S . --preset=${{ matrix.cmake_preset }} \
                    -DCMAKE_CUDA_ARCHITECTURES=${{ matrix.cmake_cuda_architectures }} \
                    -DReProspect_ENABLE_DOCS=OFF \
                    -DReProspect_ENABLE_EXAMPLES=OFF \
                    -DReProspect_ENABLE_TESTS=ON

            - run: cmake --build --preset=${{ matrix.cmake_preset }}

            - run: ctest --preset=${{ matrix.cmake_preset }}

            - uses: actions/upload-artifact@v5
              with:
                  name: tests-${{ matrix.cmake_preset }}-${{ matrix.nvidia_arch }}
                  path: artifacts
                  retention-days: 1

    examples:
        needs: [setup-job-matrix, build-images]
        strategy:
            fail-fast: false
            matrix:
                include: ${{ fromJSON(needs.setup-job-matrix.outputs.matrix_tests) }}
        env: ${{ matrix.environment }}
        runs-on: ${{ matrix.examples.runs-on }}
        container: ${{ matrix.examples.container }}
        if: ${{ ! failure() && ! cancelled() }}
        steps:
            - uses: actions/checkout@v5

            - run: |
                cmake -S . --preset=${{ matrix.cmake_preset }} \
                    -DCMAKE_CUDA_ARCHITECTURES=${{ matrix.cmake_cuda_architectures }} \
                    -DReProspect_ENABLE_DOCS=OFF \
                    -DReProspect_ENABLE_EXAMPLES=ON \
                    -DReProspect_ENABLE_TESTS=OFF

            - run: cmake --build --preset=${{ matrix.cmake_preset }}

            - run: ctest --preset=${{ matrix.cmake_preset }}

    install-as-package-and-test:
        needs: [setup-job-matrix, build-images]
        strategy:
            fail-fast: false
            matrix:
                include: ${{ fromJSON(needs.setup-job-matrix.outputs.matrix_tests) }}
        env: ${{ matrix.environment }}
        runs-on: ${{ matrix.install-as-package-and-test.runs-on }}
        container: ${{ matrix.install-as-package-and-test.container }}
        if: ${{ ! failure() && ! cancelled() }}
        steps:
            # Since it is still a private repository, let's avoid authentication burden by
            # installing from the files directly.
            - uses: actions/checkout@v5
              with:
                  path: install-from
            - run : |
                pip install install-from/python
                rm -rf install-from/

            - run: |
                python -c "from reprospect.utils.detect import GPUDetector as u; print(u.get())"

            - run: |
                reprospect-install-nsight-systems --help

    documentation:
        needs: [setup-job-matrix, tests]
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: ${{ needs.setup-job-matrix.outputs.doc_image }}
        if: ${{ ! failure() && ! cancelled() }}
        steps:
            - uses: actions/checkout@v5

            - run: |
                cmake -S . --preset=gnu-nvidia \
                    -DReProspect_ENABLE_DOCS=ON \
                    -DReProspect_ENABLE_EXAMPLES=ON \
                    -DReProspect_ENABLE_TESTS=ON
                cmake --build . --preset=gnu-nvidia --target=docs

            - uses: actions/download-artifact@v6
              with:
                  name: tests-gnu-nvidia-BLACKWELL120
                  path: artifacts

            - run: cd docs && make -j4 doctest
            - run: cd docs && make -j4 html

    papers:
        needs: []
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: openjournals/inara
        steps:
            - run: apk add git

            - uses: actions/checkout@v5
              with:
                  set-safe-directory: true

            - id: changed-files
              uses: tj-actions/changed-files@v47
              with:
                  files: |
                      papers/joss/**

            - if : steps.changed-files.outputs.any_changed == 'true'
              run: |
                cd papers/joss
                inara -o pdf -p -v paper.md

    pylint:
        runs-on: [self-hosted, linux, docker, amd64]
        needs: [setup-job-matrix, build-images]
        container:
            image: ${{ needs.setup-job-matrix.outputs.deploy_image }}
        if: ${{ ! failure() && ! cancelled() }}
        steps:
            - uses: actions/checkout@v5

            - run: |
                python3 -m pylint python/reprospect/ \
                    --rcfile python/reprospect/.pylintrc \
                    --verbose \
                    --fail-under=10

            - run: |
                export PYTHONPATH=$PWD/python:$PWD${PYTHONPATH+:}${PYTHONPATH}
                python3 -m pylint tests/python/ \
                    --rcfile tests/python/.pylintrc \
                    --verbose \
                    --fail-under=10

    deploy:
        needs: [setup-job-matrix, build-images, tests, examples, install-as-package-and-test, documentation, pylint]
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: ${{ needs.setup-job-matrix.outputs.deploy_image }}
        if: ${{ ! failure() && ! cancelled() }}
        steps:
            - uses: actions/checkout@v5
            - run: |
                python -m build python/
                ls
            - run: |
                VERSION=$(python3 -c "import pathlib, re; version = re.search(r'\d+.\d+.\d+', pathlib.Path('python/reprospect/__init__.py').read_text()); print(version.group());")
                echo "Version of the project is ${VERSION}."
                echo "VERSION=${VERSION}" >> $GITHUB_ENV
            - if: github.ref == 'refs/heads/main'
              run: |
                mc alias set MC_HOST_COSTMO ${{ vars.MC_HOST_COSTMO_URL }} ${{ secrets.MC_HOST_COSTMO_USER }} ${{ secrets.MC_HOST_COSTMO_PASSWORD }}
                mc mb --ignore-existing MC_HOST_COSTMO/reprospect
                mc cp python/dist/reprospect-${VERSION}-py3-none-any.whl MC_HOST_COSTMO/reprospect/
