name: Check spelling.

on: [pull_request]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
    contents: read

jobs:
    spelling:
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: python:3.12
        steps:
            - uses: actions/checkout@v6
            - uses: crate-ci/typos@v1.43.5
              with:
                  config: .github/config/typos.toml
