name: Check spelling.

permissions:
    contents: read

on: [pull_request]

jobs:
    spelling:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: crate-ci/typos@v1.40.0
              with:
                  config: .github/config/typos.toml
