name: Check style.

on: [pull_request]

jobs:
    whitespace:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v5

          - uses: andreasabel/fix-whitespace-action@v1.3.1
            with:
                configfile: .github/config/fix-whitespace.yml
                fix: false
                verbose: true

    check-python-notebooks:
        runs-on: python:3.12
        steps:
            - uses: actions/checkout@v5

            - run: pip install nbstripout

            - run: |
                nbstripout --verify $(find . -name *.ipynb)
