name: Check style.

on: [pull_request]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
    contents: read

jobs:
    whitespace:
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: python:3.12
        steps:
          - uses: actions/checkout@v6

          - uses: andreasabel/fix-whitespace-action@v1.3.1
            with:
                configfile: .github/config/fix-whitespace.yml
                fix: false
                verbose: true

    check-python-notebooks:
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: python:3.12
        steps:
            - uses: actions/checkout@v6

            - run: pip install nbstripout

            - run: |
                nbstripout --verify $(find . -name *.ipynb)

    clang-format:
        runs-on: ubuntu-latest
        container:
            image: ghcr.io/${{ github.repository }}/cuda-clang-21-nvidia-py3.14:13.1.0-devel-ubuntu24.04
        steps:
            - uses: actions/checkout@v6
            - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
            - shell: bash
              run: |
                git ls-files '*.[ch]' '*.[ch]pp' '*.cu' '*.cuh' | xargs clang-format-21 --dry-run --Werror
