name: Check style.

on: [pull_request]

permissions:
    contents: read

jobs:
    whitespace:
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: python:3.12
        steps:
          - uses: actions/checkout@v6

          - uses: andreasabel/fix-whitespace-action@v1.3.1
            with:
                configfile: .github/config/fix-whitespace.yml
                fix: false
                verbose: true

    check-python-notebooks:
        runs-on: [self-hosted, linux, docker, amd64]
        container:
            image: python:3.12
        steps:
            - uses: actions/checkout@v6

            - run: pip install nbstripout

            - run: |
                nbstripout --verify $(find . -name *.ipynb)
