name: Check style.

on: [pull_request]

jobs:
    whitespace:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v5

          - uses: andreasabel/fix-whitespace-action@v1.3.1
            with:
                configfile: .github/config/fix-whitespace.yml
                fix: false
                verbose: true
